<%= turbo_frame_tag "secondPageId" do %>
    <div class="m-5 text-center">And look at that, a very cute Geleia polaroid style, loaded with Turbo Frame and also Fingerprinted!</div>
    <div class="polaroidGeleia">
        <%= image_tag "geleia.jpg", :style => "width: 100%; margin-left: auto; margin-right: auto;" %>
        <div class="container">
            <p>Geleia the cat</p>
        </div>
    </div>
    <div class="m-5 text-center">This photo is build in the project, but now you're logged in you can upload your own images on the top left corner!</div>
<% end %>